.wrap {
    width: 20px;
    height: 100%;
}

.clipoard {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    
    &:hover {
        color: blue;
    }

    p {
        margin-right: 5px;
    }
}