.user-card {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    transition-duration: 330ms;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    &:hover {
     box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4), 
     0px 1px 10px 0px rgba(0,0,0,0.4), 
     0px 2px 1px -1px rgba(0,0,0,0.4)!important;   
    }
}

.user-card-details-content {
    padding: 16px 0 3px 16px!important;
}

.user-card-details {
    display: flex;
    flex-direction: column;
    
}

.user-card-cover {
    width: 151px;
    justify-self: flex-end;
}

.user-card-cover-detail {
    width: 200px;
}
.user-card-with-clipboard {
    display: grid!important;
    grid-template-columns: auto 1fr;
}

.user-card-detail-collapse {
    float: right;
    cursor: pointer;
    transition-duration: 330ms!important;
    justify-self: end;
    align-self: end;
}

.active {
    cursor: pointer;
    transform: rotate(180deg)
}

.user-card-media-content {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.user-card-cover-collapsed {
    width: 220px;
}
  
@media all and (max-width: 959px) and (min-width: 600px) {
    .user-card-cover {
        width: 100px;
    }
}
  
@media all and (max-width: 599px) and (min-width: 320px) {
    .user-card-cover {
        width: 100px;
    }
    .user-card-cover-collapsed {
        width: 120px;
    }

    .user-card-detail-list-item-content {
        display: grid!important;
        grid-auto-flow: row;
    }
}