.user-card {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    cursor: pointer;
    transition-duration: 330ms;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    &:hover {
     box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4), 
     0px 1px 10px 0px rgba(0,0,0,0.4), 
     0px 2px 1px -1px rgba(0,0,0,0.4)!important;   
    }
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-cover {
    width: 151px
}

.with-clipboard {
    display: grid!important;
    grid-template-columns: auto 1fr;
}